.square {
  background: #f4442e;
  border: 1px solid #fc9e4f;
  float: left;
  font-size: 52px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin: 2px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
  background: #fc9e4f;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
