.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: auto;
}

.game-info {
  margin: 20px;
}

.restart {
  color: white;
  background: #f4442e;
  border: 1px #fc9e4f solid;
  box-shadow: inset 0 1px 0 #fc9e4f;
  border-radius: 5%;
  padding: 5px 10px;
  font-size: 24px;
}
